@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideFromRight {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(-40%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideFromleft {
  0% {
    transform: translateX(60%);
  }
  25% {
    transform: translateX(-30%);
  }
  50% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes show {
  0% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  35% {
    transform: scale(2);
    opacity: 0.4;
  }

  100% {
    transform: scale(1);
  }
}
