@import url("./animations.css");
@import url("./mediaScreens.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow-green-crayola: #c3d898ff;
  --hunter-green: #28502eff;
  --dark-olive-green: #47682cff;
  --rich-black-fogra-29: #333300;
  --fulvous: #e5bd1a;
  --red: #ff4d4d;
  --dark-grey: #666666;
  --fulvous-light: #fffae6;
  --grey-light: #bbbfbf;
  --mainTransition: all 1.5s ease;
  --section-padding: 3rem 0;
}
body {
  background: var(--fulvous-light);
  color: var(--hunter-green);
}
a {
  text-decoration: none;
}
/* header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/pexels-cottonbro-4974496.jpg") center/cover fixed no-repeat;
}
.navBtn {
  padding: 5px;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navBtn .fas {
  font-size: 2rem;
  color: var(--yellow-green-crayola);
  animation: scaling 2s infinite;
}

.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-size: 2.5rem;
  animation: slideFromRight 5s ease-in-out 1;
}
.banner h3 {
  font-size: 3rem;
  margin: 2rem 0 3rem 0;
  color: var(--fulvous);
  animation: slideFromleft 5s ease-in-out 1;
}

.banner a {
  font-size: 1.7rem;
  display: block;
  margin-top: 1rem;
  background-color: var(--yellow-green-crayola);
  color: var(--hunter-green);
  padding: 0.6rem 2.5rem;
  outline: var(--yellow-green-crayola) 2px solid;
  outline-offset: 4px;
  transition: var(--mainTransition);
  animation: show 5s 1;
}
.banner a:hover {
  opacity: 0.6;
}
.section-splitter {
  height: 10px;

  background: linear-gradient(
    to left,
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola),
    var(--hunter-green),
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola)
  );
}
/* end of header */
/* product-section */
.products-section {
  background: var(--fulvous-light);
  padding-bottom: 3rem;
}
.title {
  background-color: var(--yellow-green-crayola);
  color: var(--rich-black-fogra-29);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 1rem;
  color: var(--dark-olive-green);
}
.title a {
  color: var(--dark-olive-green);
  font-size: 1.2rem;
  border: var(--dark-olive-green) solid 2px;
  padding: 0.1rem 0.7rem;
  border-radius: 10px;
  align-self: center;
  transition: var(--mainTransition);
}
.title a:hover {
  color: var(--yellow-green-crayola);
  background: var(--dark-olive-green);
}
.products {
  margin: 0 2rem;
}

.product {
  padding: 0.3rem;

  overflow: hidden;
  margin: 1rem 0;
  padding: 0.3rem;
  border-radius: 10px;
  border: var(--dark-olive-green) solid 4px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  transition: var(--mainTransition);
}
.product img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  cursor: pointer;
}
.product:hover {
  -webkit-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
}
.product-info {
  background: var(--dark-olive-green);
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2rem 1rem 2rem 1rem;
}

.product-info h3,
.product-info h4 {
  flex: 0 0 48%;
}

.product-info h3 {
  margin-bottom: 0.3rem;
  color: var(--fulvous-light);
}
.product-info h4 {
  color: var(--red);
  margin-bottom: 0.3rem;
  align-self: center;
  font-size: 0.8rem;
  text-align: left;
}
.product-info p {
  color: var(--fulvous-light);
  align-self: right;
}
/* end of products */
/* skills */
.section-skills {
  background: var(--fulvous-light);
  color: var(--dark-olive-green);
  padding: var(--section-padding);
}
.skill {
  text-align: right;
  margin: 1rem;
}
.skill a {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--rich-black-fogra-29);
}
.skill-info {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1rem;
}
.skill-info p {
  max-width: 70%;
  margin-right: 0.5rem;
  line-height: 1.5;
  color: var(--hunter-green);
}
.skill-info i {
  align-self: baseline;
  color: var(--hunter-green);
  font-size: 2rem;
}
/* end of skills */
/* contact */
.section-contact {
  padding: var(--section-padding);
}
.contact-info {
  text-align: right;
  padding: 0 2rem;
}
.contact-item {
  margin: 1.5rem 0;
}
.contact-item i {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.contact-item p {
  margin-top: 0.5rem;
  color: var(--dark-grey);
  font-size: 1.3rem;
}
.contact-form {
  margin: 0 2rem;
  text-align: right;
}
.form-control {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  background: transparent;
  border: none;
  outline: none;
  text-align: right;
  padding: 1rem 0.5rem;
  border-bottom: var(--dark-olive-green) solid 1px;
  color: var(--dark-olive-green);
  font-size: 1.2rem;
}
.form-control::placeholder {
  color: var(--dark-olive-green);
  opacity: 0.8;
  font-size: 1.2rem;
  text-align: right;
}
.formBtn {
  display: inline-block;

  color: var(--fulvous-light);
  background: var(--dark-olive-green);
  padding: 0.6rem 1.5rem;
  outline: var(--dark-olive-green) 2px solid;
  outline-offset: 2px;
  cursor: pointer;
}
/* end of contact */
/* offer */
.section-offer {
}
.offerBuy,
.offerSell {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(245, 240, 100, 0.3)),
    url("./img/pexels-karolina-grabowska-5625130.jpg") center/cover fixed
      no-repeat;
  padding: 2rem;
  color: var(--fulvous-light);
  text-align: right;
}
.section-offer h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.offerSell {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(245, 240, 100, 0.3)),
    url("./img/pexels-karolina-grabowska-5632397.jpg") center/cover fixed
      no-repeat;
}
.offerBtn {
  display: inline-block;
  font-size: 1.3rem;
  margin: 2rem 0;
  text-align: left;
  color: var(--fulvous-light);
  border: var(--fulvous-light) 2px solid;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  transition: var(--mainTransition);
}
.offerBtn:hover {
  background: var(--fulvous-light);
  color: var(--dark-grey);
}
/* end of offer */
/* information-section */
.section-info {
  padding-bottom: 3rem;
}
.info-container {
  padding: 0 2rem;
  text-align: right;
}
/* common style for information items */
.info-item {
  margin: 3rem 0;
}
.info-contact li:first-child,
.news h3,
.info-support h3,
.info-about-title,
.info-text li:first-child {
  font-size: 1.5rem;
}
/* common style for information items */
/* info-text */
.info-text li:not(:first-child) {
  padding-right: 0.5rem;
  border-bottom: var(--grey-light) 0.8px solid;
  margin: 1rem 0;
}
.info-text {
  list-style-type: none;
  line-height: 2;
}
.info-text a {
  display: block;
  color: var(--hunter-green);
  transition: var(--mainTransition);
}
.info-text a:hover {
  transform: translateX(-20px);
  color: var(--fulvous);
}
/* end of info-text */
/* info-contact */
.info-contact {
  list-style-type: none;
}
.info-contact li {
  margin: 1rem 0;
}
.info-contact li:not(:first-child) {
  padding-right: 0.5rem;
  margin: 1rem 0;
}
.info-contact a {
  display: inline-block;
  color: var(--hunter-green);
}

.info-contact a:hover i{
  transform: scale(1.2) rotate(90deg);
}

.info-contact a span {
  margin-left: 0.7rem;
  font-size: 1.3rem;
}
.info-contact i{
  transition: var(--mainTransition);
}
.info-contact .fa-rss{
  color: var(--fulvous);
}
.info-contact .fa-envelope{
  color:var(--dark-grey)
}
.info-contact .fa-telegram{
  color: darkcyan;
}
.info-contact .fa-facebook{
  color: darkblue;
}
.info-contact .fa-google-plus{
  color: #d1341f;
}
.info-contact .fa-instagram{
  color: #346b70;
}
/* end of info-contact */
/* news */
.news{
  margin: 2rem 0;
  text-align: right;
}
.news p{
   margin: 1rem 0;
}
.news-input{
  display: block;
  width: 90%;
  margin: 1rem auto;
  border: var(--grey-light) solid 1px;
  padding: 0.6rem;
}
.news-input::placeholder{
  font-size: 1rem;
  color: var(--grey-light);
  text-align: right;
}
.news form{
  text-align: left;
}
.newsBtn{
  color: var(--hunter-green);
  font-size: 1.1rem;
  display: inline-block;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border: var(--hunter-green) 1px solid;
  border-radius: 15px;
}
.newsBtn:hover{
  background: var(--hunter-green);
  color: var(--yellow-green-crayola);
}
/* end of news */
/* info-support */
.info-support,
.site-info {
  direction: rtl;
}
.info-support{
  margin: 1rem;
  list-style-type: square;
  color: var(--fulvous);

}
.info-support li{
   border-bottom: var(--grey-light) 0.8px solid;
}
.info-support a {
  display: inline-block;
  margin: 0.9rem 0 0.8rem 0;
  padding: 0 0.5rem;
  color: var(--hunter-green);
}
/* end of info-support */

/* end of information-section */
/* footer */
footer {
  padding: var(--section-padding);
  background: var(--hunter-green);
  color: var(--fulvous);
  text-align: center;
  font-size: 1.5rem;
}
