@import url("./animations.css");
@import url("./mediaScreens.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow-green-crayola: #c3d898ff;
  --hunter-green: #28502eff;
  --dark-olive-green: #47682cff;
  --rich-black-fogra-29: #333300;
  --fulvous: #e5bd1a;
  --red: #ff4d4d;
  --dark-grey: #666666;
  --fulvous-light: #fffae6;
  --mainTransition: all 2s ease;
  --section-padding: 3rem 0;
}
body {
  background: var(--fulvous-light);
  color: var(--hunter-green);
}
a {
  text-decoration: none;
}
/* header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/pexels-cottonbro-4974496.jpg") center/cover fixed no-repeat;
}
.navBtn {
  padding: 5px;
  margin: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.navBtn .fas {
  font-size: 2rem;
  color: var(--yellow-green-crayola);
  animation: scaling 2s infinite;
}

.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-size: 2.5rem;
  animation: slideFromRight 5s ease-in-out 1;
}
.banner h3 {
  font-size: 3rem;
  margin: 2rem 0 3rem 0;
  color: var(--fulvous);
  animation: slideFromleft 5s ease-in-out 1;
}

.banner a {
  font-size: 1.7rem;
  display: block;
  margin-top: 1rem;
  background-color: var(--yellow-green-crayola);
  color: var(--hunter-green);
  padding: 0.6rem 2.5rem;
  outline: var(--yellow-green-crayola) 2px solid;
  outline-offset: 4px;
  transition: var(--mainTransition);
  animation: show 5s 1;
}
.banner a:hover {
  opacity: 0.6;
}
.section-splitter {
  height: 10px;

  background: linear-gradient(
    to left,
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola),
    var(--hunter-green),
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola)
  );
}
/* end of header */
/* product-section */
.products-section {
  background: var(--fulvous-light);
  padding: var(--section-padding);
}
.products-title {
  background-color: var(--yellow-green-crayola);
  color: var(--rich-black-fogra-29);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--dark-olive-green);
}
.products-title a {
  color: var(--dark-olive-green);
  font-size: 1.2rem;
  border: var(--dark-olive-green) solid 2px;
  padding: 0.1rem 0.7rem;
  border-radius: 10px;
  align-self: center;
  transition: var(--mainTransition);
}
.products-title a:hover {
  color: var(--yellow-green-crayola);
  background: var(--dark-olive-green);
}
.products {
  margin: 0 2rem;
}

.product {
  padding: 0.3rem;

  overflow: hidden;
  margin: 1rem 0;
  padding: 0.3rem;
  border-radius: 10px;
  border: var(--dark-olive-green) solid 4px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  transition: var(--mainTransition);
}
.product img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  cursor: pointer;
}
.product:hover {
  -webkit-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 3px rgba(0, 0, 0, 0.75);
}
.product-info {
  background: var(--dark-olive-green);
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
}

.product-info h3,
.product-info h4 {
  flex: 0 0 48%;
}

.product-info h3 {
  margin: 0.7rem 0.3rem;
  color: var(--fulvous-light);
}
.product-info h4 {
  color: var(--red);
  margin: 0.7rem 0;
  align-self: center;
  font-size: 0.8rem;
  text-align: left;
}
.product-info p {
  color: var(--fulvous-light);
  align-self: right;
}
/* end of products */
/* skills */
.section-skills {
  background: var(--fulvous-light);
  color: var(--dark-olive-green);
  padding: var(--section-padding);
}
.skill {
  text-align: right;
  margin: 1rem;
}
.skill a {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--rich-black-fogra-29);
}
.skill-info {
  display: flex;
  flex-direction: row-reverse;
  font-size: 1rem;
}
.skill-info p {
  max-width: 70%;
  margin-right: 0.5rem;
  line-height: 1.5;
  color: var(--hunter-green);
}
.skill-info i {
  align-self: baseline;
  color: var(--hunter-green);
  font-size: 2rem;
}
/* end of skills */
/* contact */
.section-contact {
  padding: var(--section-padding);
}
.contact-info {
  text-align: right;
  padding: 0 2rem;
}
.contact-item {
  margin: 1.5rem 0;
}
.contact-item i {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.contact-item p {
  margin-top: 0.5rem;
  color: var(--dark-grey);
  font-size: 1.3rem;
}
/* end of contact */
