@import url("./animations.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --yellow-green-crayola: #c3d898ff;
  --hunter-green: #28502eff;
  --dark-olive-green: #47682cff;
  --rich-black-fogra-29: #333300;
  --fulvous: #e5bd1a;
  --red: #ff4d4d;
  --dark-grey: #666666;
  --mainTransition: all 2s ease;
}
body {
  background: var(--dark-olive-green);
  color: var(--yellow-green-crayola);
}
a {
  text-decoration: none;
}
/* header */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/pexels-cottonbro-4974496.jpg") center/cover fixed no-repeat;
}
.navBtn {
  padding: 5px;
  margin: 1rem;
  background: transparent;
  border: none;
}
.navBtn .fas {
  font-size: 2rem;
  color: var(--yellow-green-crayola);
  animation: scaling 2s infinite;
}

.banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-size: 2.5rem;
  animation: slideFromRight 5s ease-in-out 1;
}
.banner h3 {
  font-size: 3rem;
  margin: 2rem 0 3rem 0;
  color: var(--fulvous);
  animation: slideFromleft 5s ease-in-out 1;
}

.banner a {
  font-size: 1.7rem;
  display: block;
  margin-top: 1rem;
  background-color: var(--yellow-green-crayola);
  color: var(--hunter-green);
  padding: 0.6rem 2.5rem;
  outline: var(--yellow-green-crayola) 2px solid;
  outline-offset: 4px;
  transition: var(--mainTransition);
  animation: show 5s 1;
}
.banner a:hover {
  opacity: 0.6;
}
.section-splitter {
  height: 10px;

  background: linear-gradient(
    to left,
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola),
    var(--hunter-green),
    var(--fulvous),
    var(--rich-black-fogra-29),
    var(--yellow-green-crayola)
  );
}
/* end of header */
/* product-section */
.products-section {
  background: var(--rich-black-fogra-29);
}
.products-title {
  background-color: var(--yellow-green-crayola);
  color: var(--rich-black-fogra-29);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--dark-olive-green);
}
.products-title a {
  color: var(--dark-olive-green);
  font-size: 1.2rem;
  border: var(--dark-olive-green) solid 2px;
  padding: 0.1rem 0.7rem;
  border-radius: 10px;
  align-self: center;
  transition: var(--mainTransition);
}
.products-title a:hover {
  color: var(--yellow-green-crayola);
  background: var(--dark-olive-green);
}
.products {
  margin: 0 2rem;
}
@media screen and (min-width: 769px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    flex: 0 0 48%;
  }
}
@media screen and (min-width: 1170px) {
  .product {
    flex: 0 0 24%;
  }
}
.product {
  padding: 1rem;

  overflow: hidden;
}
.product img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.product-info {
  text-align: right;
}
.product-info h3 {
  margin: 0.7rem 0;
}
.product-info h4 {
  color: var(--red);
  margin-bottom: 0.5rem;
}
.product-info p {
  color: var(--dark-grey);
}
